
.input-field {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 3px;
  }

  .find-users-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #302aaf;
    z-index: 99;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 37rem;
    
  }
  .find-user {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: rgb(234, 220, 220);
  }