.container{
    display: grid;
height: max-content;
grid-gap: 1rem;
grid-template-columns: 1fr 2fr 1fr;
/* grid-template-areas: "header header header"
"aside1 main aside2"
"aside1 main aside2"
"aside1 main aside2"; */

justify-content: center;
justify-content: space-between;
}


.sidebar1{
    display: flex;
    flex-direction: column;

}

.link-container{
    margin-top: 40px;
    margin-left: 40px;
    width: 250px;
    height: 200px;
    
    
}



.link a{
    display: flex;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    color: #302aaf;
    font-size: 2rem;
    
}

.logout-btn{
    margin-top: 350px;
    margin-left: -70px;
    padding: 10px;
   

}

.logout-btn button{
    color: #302aaf;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
  
}